<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/3/a/6/3a653d5b19_50185574_cochon-pas-bete.jpg);">
  <div class="container">
    <h1>Pick a pig</h1>
    <p id="subtitle">Get rid of your food scraps, adopt a pig !</p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>

<div class= "content-container" id="pig-map"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="content-container pigs-list-container">
    <% @pigs.each do |pig| %>
      <%= link_to pig_path(pig) do %>
        <div class="card-pig">
          <div class="card-pig-available">
            <% if pig.active %>
              <div class="card-pig-available-true">available</div>
            <% else %>
              <div class="card-pig-available-false">inactive</div>
            <% end %>
          </div>
          <% if pig.photos.blank? %>
            <%= image_tag "default-pig.jpg", class: "pig-pic" %>
          <% else %>
            <%= cl_image_tag pig.photos.first.key, height: 300, width: 400, crop: :fill, class: "pig-pic" %>
          <% end %>
          <div class="card-pig-infos">
            <div>
              <h2><%= pig.name.capitalize %></h2>
              <% if pig.eat_capacity %>
                <p><strong><%= pig.eat_capacity %></strong> kg/day</p>
              <% else %>
                <p>No limit stomach</p>
              <% end %>
            </div>
            <div class="card_pig_rating">
              <% if pig.rating == nil %>
                <div class="rating-zero-hidden">
                  <span class="fa-regular fa-star"></span>
                  <span class="fa-regular fa-star"></span>
                  <span class="fa-regular fa-star"></span>
                  <span class="fa-regular fa-star"></span>
                  <span class="fa-regular fa-star"></span>
                </div>
              <% elsif pig.rating == 1 %>
                <span class="fa fa-star"></span>
                <span class="fa-regular fa-star"></span>
                <span class="fa-regular fa-star"></span>
                <span class="fa-regular fa-star"></span>
                <span class="fa-regular fa-star"></span>
              <% elsif pig.rating == 2 %>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa-regular fa-star"></span>
                <span class="fa-regular fa-star"></span>
                <span class="fa-regular fa-star"></span>
              <% elsif pig.rating == 3 %>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa-regular fa-star"></span>
                <span class="fa-regular fa-star"></span>
              <% elsif pig.rating == 4 %>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa-regular fa-star"></span>
              <% elsif pig.rating == 5 %>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              <% end %>
              <h2 class="card-pig-pricing"><%= pig.daily_price %> €/day</h2>
            </div>
            <div class="avatar">
              <% unless pig.user.photo.key.nil? %>
                <%= cl_image_tag pig.user.photo.key, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <img src="/assets/user.png" class="avatar dropdown-toggle" id= "navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              <% end %>
            </div>
          </div>

        </div>
      <% end %>
    <% end %>
</div>
