<div class="content-container">


  <h1 class="show-title"> <%= @pig.name.capitalize %> from   <%= @pig.user.first_name %>'s farm</h1>

  <div class="card-pig-detailed">
    <% if @pig.photos.blank? %>
      <%= image_tag "default-pig.jpg" %>
    <% else %>
      <%= cl_image_tag @pig.photos.first.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <div class="card-pig-detailed-infos">
      <div>
        <h2><%= @pig.name.capitalize %></h2>
          <% if @pig.eat_capacity %>
            <p><strong><%= @pig.eat_capacity %></strong> kg/day</p>
          <% else %>
            <p>I'm a bottomless stomach</p>
          <% end %>
          <% if @pig.required_space %>
            <p><strong><%= @pig.required_space %></strong> m2 required</p>
          <% else %>
            <p>I can go in any garden</p>
          <% end %>
      </div>
      <div class="card-pig-detailed-rating">
        <% if @pig.rating == 1 %>
          <span class="fa fa-star"></span>
          <span class="fa-regular fa-star"></span>
          <span class="fa-regular fa-star"></span>
          <span class="fa-regular fa-star"></span>
          <span class="fa-regular fa-star"></span>
        <% elsif @pig.rating == 2 %>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa-regular fa-star"></span>
          <span class="fa-regular fa-star"></span>
          <span class="fa-regular fa-star"></span>
        <% elsif @pig.rating == 3 %>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa-regular fa-star"></span>
          <span class="fa-regular fa-star"></span>
        <% elsif @pig.rating == 4 %>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa-regular fa-star"></span>
        <% elsif @pig.rating == 5 %>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        <% end %>
      <h2 class="card-pig-detailed-pricing"><%= @pig.daily_price %> €/day</h2>
      </div>
    </div>
    <%= link_to "Pick this pig", new_pig_rental_path(@pig), class: "btn btn-flat mb-2 ms-2" %>
  </div>
  <div class="btn-centered">
  </div>
</div>
