<div class="new-container">

  <%= simple_form_for [:farmers, @pig] do |f| %>

    <div class="form-input">
      <%= f.input :name, placeholder: "Your pig name" %>
    </div>

    <div class="form-input">
      <%= f.input :required_space, placeholder: "Required space in m2" %>
      <br>
      <%= f.input :eat_capacity, placeholder: "Eat capacity in kg" %>
    </div>

    <div class="form-input">
      <%= f.input :daily_price, placeholder: "Price per day" %>
    </div>

    <div class="form-input">
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>

    <%= f.input :active, as: :boolean, label: "I'm available!" %>

    <div class="form-button">
      <%= f.submit "Modify my pig", class: "btn btn-flat" %>
    </div>
  <% end %>
</div>

<%= link_to 'homepage', pigs_path%>
