<div class="content-container">
  <div class="d-flex justify-content-between align-items-center my-3">
    <h1 class="show-title">My Pigs</h1>
    <%= link_to "Add a pig", new_farmers_pig_path, class:"btn btn-flat" %>
  </div>

  <div class="pigs-list-container">

    <% @pigs.each do |pig| %>
      <div class="card-pig mb-5">
        <div class="card-pig-available">
          <% if pig.active %>
            <div class="card-pig-available-true">available</div>
          <% else %>
            <div class="card-pig-available-false">inactive</div>
          <% end %>
        </div>
        <%= link_to pig_path(pig) do %>
          <% if pig.photos.blank? %>
            <%= image_tag "default-pig.jpg", class: "pig-pic" %>
          <% else %>
            <%= cl_image_tag pig.photos.first.key, height: 300, width: 400, crop: :fill, class: "pig-pic" %>
          <% end %>
          <div class="card-pig-infos">
            <div>
              <h2><%= pig.name.capitalize %></h2>
              <% if pig.eat_capacity %>
                <p><strong><%= pig.eat_capacity %></strong> kg/day</p>
              <% else %>
                <p>No limit stomach</p>
              <% end %>
              <% if pig.required_space %>
                <p><strong><%= pig.required_space %></strong> m2 required</p>
              <% else %>
                <p>Any garden is ok</p>
              <% end %>
            </div>

            <div class="avatar">
              <% unless current_user.photo.key.nil? %>
                <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <img src="/assets/user.png" class="avatar dropdown-toggle" id= "navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              <% end %>
            </div>
            <div class="card_pig_detailed_rating">
              <% if pig.rating == 0 %>
                <div class="rating-zero-hidden">
                  <span class="fa-regular fa-star"></span>
                  <span class="fa-regular fa-star"></span>
                  <span class="fa-regular fa-star"></span>
                  <span class="fa-regular fa-star"></span>
                  <span class="fa-regular fa-star"></span>
                </div>
              <% elsif pig.rating == 1 %>
                <span class="fa fa-star"></span>
                <span class="fa-regular fa-star"></span>
                <span class="fa-regular fa-star"></span>
                <span class="fa-regular fa-star"></span>
                <span class="fa-regular fa-star"></span>
              <% elsif pig.rating == 2 %>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa-regular fa-star"></span>
                <span class="fa-regular fa-star"></span>
                <span class="fa-regular fa-star"></span>
              <% elsif pig.rating == 3 %>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa-regular fa-star"></span>
                <span class="fa-regular fa-star"></span>
              <% elsif pig.rating == 4 %>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa-regular fa-star"></span>
              <% elsif pig.rating == 5 %>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              <% end %>
              <h2 class="card-pig-pricing pe-2"><%= pig.daily_price %> €/day</h2>
            </div>
          </div>
        <% end %>
        <div class="mb-2 d-flex justify-content-between align-items-center">
          <div>
            <%= link_to edit_farmers_pig_path(pig), class: "edit-icon ms-3" do %>
              <i class="fa-solid fa-pen"></i>
            <% end %>
            <%= link_to farmers_pig_path(pig), method: :delete, class: "delete-icon ms-3" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </div>

      </div>

    <% end %>

  </div>

</div>
