<div class="content-container">
  <div class="d-flex justify-content-between align-items-center my-3">
    <h1 class="show-title">My Pigs</h1>
    <%= link_to "Add a pig", new_farmers_pig_path, class:"btn btn-flat" %>
  </div>

  <div class="pigs-list-container">

    <% @pigs.each do |pig| %>
      <div class="card-pig mb-5">
        <%= link_to pig_path(pig) do %>
          <% if pig.photos.blank? %>
            <%= image_tag "default-pig.jpg", class: "pig-pic" %>
          <% else %>
            <%= cl_image_tag pig.photos.first.key, height: 300, width: 400, crop: :fill, class: "pig-pic" %>
          <% end %>
          <div class="card-pig-infos">
            <div>
              <h2><%= pig.name.capitalize %></h2>
              <p><strong><%= pig.eat_capacity %></strong> kg/day</p>
              <p><strong><%= pig.required_space %></strong> m2 required</p>
            </div>
            <h2 class="card-pig-pricing"><%= pig.daily_price %> €/day</h2>
            <div class="avatar">
              <% unless current_user.photo.key.nil? %>
                <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <img src="/assets/user.png" class="avatar dropdown-toggle" id= "navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
              <% end %>
            </div>
          </div>

        <% end %>

        <%= link_to edit_farmers_pig_path(pig), class: "ms-3" do %>
          <i class="fa-solid fa-pen"></i>
        <% end %>
        <%= link_to farmers_pig_path(pig), method: :delete, class: "ms-3" do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>

      </div>

    <% end %>

  </div>

</div>
