<div class="content-container">
  <h1 class="show-title">New rental</h1>
  <h2><%= @pig.name.capitalize %> details reminder</h2>
  <p>Daily cost: <%= @pig.daily_price %> €</p>
  <p>Required space for the pig: <%= @pig.required_space %> m²</p>

  <%= simple_form_for [@pig, @rental] do |f| %>
    <%= f.input :start_date, as: :string %>
    <%= f.input :end_date, as: :string %>
    <%= f.submit "Rent the pig", class: "btn btn-flat"%>
  <% end %>
</div>
